<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oppblock System: Administrator Portal</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <style> body {padding: 0; margin: 0;} </style>
  </head>
<!--Things to do: set new oppblock, view all stuff, edit all stuff-->
  <body>
    <img id = "logo" src="/OppBlockLogoFinal.png">
    
    <div id= "centralBox">
      <p id= "titleText">Administrator Portal</p>

      <a id="adminbutton" class="button" href="/csvinput">Add Students/Teachers</a>
      <a id="adminbutton" class="button" href="/stats">Long Term Data</a>
      <a id="adminbutton" class="button" href="/groups">Groups</a>
      <a id="adminbutton" class="button" href="/settings">Settings</a>
      <a id="adminbutton" class="button" href="/calendar">Schedule</a>
      <a id="adminbutton" class = "button" href = "/logout">Logout</a>
    
      <table style="width:100%" align="center">
        <tr>
          <th>Date</th>
          <th>Offerings</th>
          <th>Non Sign-Ups (Mopblock)</th>
          <th>Students who Haven't Arrived</th>
        </tr>
        {{#data}}
        <tr>
          <td>{{day}}</td>
          <td><a href="/day/{{uid_day}}/{{day}}">Offerings</a></td>
          <td><a href="/mopblock/{{uid_day}}/{{day}}">Non Sign-Ups</a></td>
          <td><a href="/notarrived/{{uid_day}}/{{day}}">Non Arrivals</a></td>
        </tr>
      {{/data}}
      </table>
    </div>
  </body>
</html>