<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Admin Page</title>
</head>

<!--Things to do: set new oppblock, view all stuff, edit all stuff-->
<body>
	<h1>Administrator Portal</h1>
	<h3>{{Admin}}</h3>
	<a href="/clientcsv">Add Students</a><br>
    <a href="/Mopblock">Students who didn't sign up</a><br>
    <a href="/Groups">Student Groups</a><br>
    <a href="/admin_settings">Settings</a>
    
    <table style="">
		<tr>
			
            <th>Date</th>
            <th>Link</th>
        </tr>
        {{#data}}
        <tr>
            
            <td>{{date}}</td>
            <td><a href="/Day/{{uid_day}}">Link</a></td>
        </tr>
        {{/data}}
    </table>
    

</body>
</html>
