<html>
	<head>
		<title>Craig Memorial OppBlock System</title>
	    <link rel="stylesheet" type="text/css"/>
	    <style> body {padding: 0; margin: 0;} </style>
	    <link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.8.2/fullcalendar.min.css' />
		<script src='https://fullcalendar.io/js/fullcalendar-3.8.2/lib/jquery.min.js'></script>
		<script src='https://fullcalendar.io/js/fullcalendar-3.8.2/lib/moment.min.js'></script>
		<script src='https://fullcalendar.io/js/fullcalendar-3.8.2/fullcalendar.min.js'></script>
	</head>
	<body>
		<h1> Opp Block Day Creation Calendar </h1>
		<form type="hidden" id="secretForm">
			{{#days}}
			<input type="hidden" id="days" name="days" value={{day}}>
			{{/days}}
		</form>
		<h2> Click on days to mark them as Oppblock days. If you make a mistake, click again to unmark it. Press save to save your choices, making them permanent (marron). </h2>
		<!--<div style="display:inline-block; width:40%; text-align:left"> 
			{{#batchSelect}}
			<button class="{{weekDay}}" id="{{dayNum}}"> Select all {{weekDay}}s </button>
			{{/batchSelect}}
		</div>-->
		<form method="post" style="display:inline-block; text-align:left;" id="newForm">
			<input type="submit" value="Save">
		</form>
		<div id="calendar"> </div>
	</body>
	<script>
		$(document).ready(function() {
			//	Makes an array of already selected days
			//	Initializes fullCalendar
		    $('#calendar').fullCalendar({
		    	viewRender: function(view, element) {
		    		//	EW: Repeated Code-- should be in a function or something simpler, since it just differentiates between days already inserted into the db, and ones currently being chosen
		    		var savedDays = $('#secretForm').serializeArray();
		    		var newDays = $('#newForm').serializeArray();
		    		for(var i=0; i<savedDays.length; i++) {
						$("td [data-date=" + savedDays[i].value + "]").css('background-color', 'maroon');    	
		    		}
		    		for(var i=0; i<newDays.length; i++) {
						$("td [data-date=" + newDays[i].value + "]").css('background-color', 'blue');    	
		    		}
		    	},
		        dayClick: function(date, jsEvent, view) {
		        	//	TBD: Fix Calendar/coloring so that one can switch back and forth between months and still see the coloring
		        	//	Makes sure this cell hasn't yet been selected
		        	if($(this).css('background-color') == 'rgba(0, 0, 0, 0)') {
		        		//	Selects the cell
				        $('#newForm').prepend("<input type=hidden id=newDays name=newDays value=" + date.format('YYYY-MM-DD') + ">");
				        $(this).css('background-color', 'blue');
				    } else if ($(this).css('background-color') == 'rgb(0, 0, 255)') {
				    	//	Deselects the cell
				    	console.log("GREAT");
				    	$('input').remove("[value=" + date.format('YYYY-MM-DD') + "]");
				        $(this).css('background-color', 'rgba(0, 0, 0, 0)');
				    }
			    }
		    });
		    /*$('button').click(function(){
		    	//$('#newForm').prepend("<input type=hidden id=newDays name=newDays value=" + date.format('YYYY-MM-DD') + ">");
		    	console.log(this);
		    	console.log($("td:nth-of-type("+ (parseInt($(this).attr("id")) + 1) + ")").attr('data-date'));
		    	$("td:nth-of-type("+ (parseInt($(this).attr("id")) + 1) + ")").css('background-color', 'blue');

		    });*/
		    //$("td:nth-of-type(2)") ++ Onclick();???
		});
	</script>
</html>

