<html>
<head>
   
	<style>
    body {
        background-color: lightblue;
    }
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 4px;
}
th {
    text-align: center;
}
</style>

	<h1>Attendance Page</h1>
</head>
<body>

 <form action="/updateAttendance/{{uid_offering}}" method="post">

{{#students}}

<input type="checkbox" value={{uid_student}} name="students" {{#arrived}}checked="checked"{{/arrived}}>
 {{firstname}} {{lastname}} </br>


{{/students}}
<input type="submit" value="Submit">
</table>

	
</body>
</html>