body{
	background-image: url('/public/oppbackground.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#logo{
	width: 8%;
	height: 8%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
}

#centralBox{
	background-color: #793141;
	border-style:solid;
	border:5px;
	border-color: black;
	width:1200px;
	height:1200px;
	margin:auto;
	text-align: center;
	padding-left:20px;
	margin-top:30px;

}

#titleText{
	margin:auto;
	padding-top:100px;
	text-align:left;
	color:white;
	font-family: Courier;
	font-size: 40px;
}

textarea{
	display:block;
	background-color: white;
	border-style:solid;
	border-width:2px;
	border-color: white;
	margin-top:10px;
}

input{
	width:150.5px;
	font-size:15px;
	cursor:pointer;
	border:none;
	height:34px;
	background-color: white;
	border-color: white;
	color: grey;
	margin-top:10px;
	margin-right:5px;
}

input:hover{
	background-color: black;
	color: white;
}
