<!DOCTYPE html>
<html>
  <head>
  	<title>Oppblock</title>
  	  <link rel="stylesheet" href="clientcsvstyle.css" type="text/css"/>
	  <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body>
  	<img id = "logo" src="/Users/cmackethan/OppBlock/OppblockLogoFinal.png">

  	<div id= "centralBox">
  	  <p id= "titleText">Database Management</p>
  	  <form action="/csvinput" method="post">
  	  <textarea rows="25" cols="165" name="Rad" placeholder=" Paste CSV File"> </textarea>
  	  <button type="button">Submit</button>
  	  </form>
  	</div>

  </body>

</html>