<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{Day}} Offerings</title>
</head>

<body>
<h2>{{Day}}</h2>

<table>
<tr>
    <th>Students</th>
    <th>Teacher</th>
    <th>Name</th>
    <th>Description</th>
    <th>Maximum Size</th>
    <th>Current</th>
  </tr>
  
  {{#data}}
  <tr>
    <td><a href="/Offeringstudents/{{uid_offering}}">Students</a></td> 
    <td>{{Teacher}}</td>
    <td>{{name}}</td>
    <td>{{description}}</td> 
    <td>{{max_size}}</td> 
    <td>{{recurring}}</td>
  </tr>
  {{/data}}
  </table>  
  
    
</body>
</html>
