<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Offerings {{date}}</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
  </head>

  <body>
    <img id = "logo" src="/OppBlockLogoFinal.png">
    <div id= "centralBox">
      <p id= "titleText"> Offerings for {{date}} </p>
      <table>
        <tr>
          <th>Students</th>
          <th>Teacher</th>
          <th>Oppblock Name</th>
          <th>Location</th>
          <th>Description</th>
          <th>Maximum Size</th>  
        </tr>
        {{#data}}
        <tr>
          <td><a href="/Offeringstudents/{{uid_offering}}/{{uid_day}}">Students</a></td> 
          <td>{{teacher}}</td>
          <td>{{name}}</td>
          <td>{{location}}</td>
          <td>{{description}}</td> 
          <td>{{max_size}}</td> 
        </tr>
        {{/data}}
      </table>  
    </div>
  </body>
</html>
