<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{Day}} Offerings</title>
</head>

<body>
<h2>{{Day}}</h2>

<table>
<tr>
    <th>Students</th>
    <th>Teacher</th>
    <th>Oppblock Name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Maximum Size</th>
    
  </tr>
  
  {{#data}}
  <tr>
    <td><a href="/Offeringstudents/{{uid_offering}}">Students</a></td> 
    <td>{{teacher}}</td>
    <td>{{name}}</td>
    <td>{{location}}</td>
    <td>{{description}}</td> 
    <td>{{max_size}}</td> 

  </tr>
  {{/data}}
  </table>  
  
    
</body>
</html>
