<!DOCTYPE html>
<html>
  <head>
  	<title>Craig Memorial OppBlock System</title>
    <link rel="stylesheet" href="loginstyle.css" type="text/css"/>
    <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body>
    <img id = "logo" src="/Users/cmackethan/OppBlock/OppblockLogoFinal.png">

    <div id = "centralBox"> <!--- The content box located in center -->
      <p id = "titleText">Sign In</p>
      <input id = "emailInput" type = "email" placeholder=" E-mail"/>
      <input id = "passwordInput" type = "password" placeholder=" Password"/>
      <button id = "submit" onclick="submit();"> Forgot Password </button>
      <button id = "googleSign" onclick="signIn();"> Next</button>
    </div>


  </body>
</html>
