
<html>
<head>
  <meta name="google-signin-client_id" content="827038446996-lrrntro5hskmu9aj1jc55nrmv9090jr0.apps.googleusercontent.com">
</head>
<body>
  <div class="g-signin2" data-onsuccess="onSuccess"></div>
  <script>
    function onSuccess(googleUser) {
    	  var profile = googleUser.getBasicProfile();
    	console.log('ID: ' + profile.getId());
    	var id_token = googleUser.getAuthResponse().id_token;
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'http://localhost/auth');
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		xhr.onload = function() {
 			console.log('Signed in as: ' + xhr.responseText);
			sessionStorage.setItem('id_token', id_token);
			 			window.location.href = '/landingpage';

		};
		xhr.send('idtoken=' + id_token); 

 	}
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>