<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="/style.css" type="text/css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Oppblock System: Edit Offering</title>
   <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body>
    <img id = "logo" src="/OppBlockLogoFinal.png">

    <div id="centralBox">
      <p id= "titleText">Teacher Portal</p>
  <p id= "signedInAs">Edit Offering</p>
  
	<form action="/updateOffering/{{offeringId}}/" method="post">
  <input type="hidden" name="isNew" value="{{isNew}}">
  {{#data}}
    Name:<br>
  <input type="text" name="name" value="{{name}}">
  <br>
  Location:<br>
  <input type="text" class="location" name="location" value="{{location}}">
  <br>
  <div id='location'>
    Potential Conflicts: <br>
    <table id='conflicts'>
    <tr>
      <th>Teacher</th>
      <th>Offering</th>
      <th>Location</th>
      <th>Day</th>
    </tr>
    
      
    
    </table>
  </div>

  Description:<br>
   <TEXTAREA name="description" rows="10" cols="40">
    {{description}}
   </TEXTAREA>
   <br>Max Size:<br>
  <input type="text" name="max_size" value="{{max_size}}">

 <br>
   {{#dayData}}
    {{#canEdit}}
   {{day}}
  <input type="checkbox" value ="{{uid_day}}" name="days" {{#set}}checked="checked"{{/set}}> </br>
  {{/canEdit}}
{{/dayData}}

  <br>
  <input type="submit" value="Submit">
    {{/data}}

</form> 

 <a class="button" href="/delete/{{offeringId}}/">Delete</a>
 </div>
</body>

<script>

  $('.location').attr('autocomplete', 'off');
  $('#location').hide();

$( ".location" ).change(function() {
    var location = $(this).val();
      $('.clear').remove();
      $('#location').hide();
    $.get("/locations/"+location, function(data) {
      if (data != undefined && data.length >0 ){
          $('#location').show();

          for (var i = 0; i < data.length; i++){
            var offering = data[i].offering;
          
            $('#conflicts').append("<tr class='clear'><td>"+offering.teacher_firstname+" "+offering.teacher_lastname+"</td>"+
                                   "<td>"+offering.name + "</td>" +
                                   "<td>"+ offering.location +"</td>" +
                                   "<td>"+ offering.day +"</td></tr>"
                                   );
          }
      } 
    });
});
</script>



</html>