<!DOCTYPE html>
<html>
  <head>
  <title>Oppblock System: Edit Offering</title>
  <link rel="stylesheet" href="/style.css" type="text/css"/>
   <style> body {padding: 0; margin: 0;} </style>
  </head>
  <body>
    <img id = "logo" src="/OppBlockLogoFinal.png">

    <div id="centralBox">
      <p id= "titleText">Teacher Portal</p>
  <p id= "signedInAs">Edit Offering</p>
  
	<form action="/updateOffering/{{offeringIdUpdate}}" method="post">

  {{#data}}
    Name:<br>
  <input type="text" name="name" value="{{name}}">
  <br>
  Description:<br>
  <input type="text" name="description" value="{{description}}">
   <br>Max Size:<br>
  <input type="text" name="max_size" value="{{max_size}}">

 <br>
   {{#dayData}}
    {{#canEdit}}
   {{day}}
  <input type="checkbox" value ="{{uid_day}}" name="days" {{#set}}checked="checked"{{/set}}> </br>
  {{/canEdit}}
{{/dayData}}

  <br>
  <input type="submit" value="Submit">
    {{/data}}

</form> 

 <a class="button" href="/delete/{{offeringId}}">Delete</a>
 </div>
</body>
</html>