<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
	<title>Craig Memorial Student Page</title>
	<link rel="stylesheet" href="/style.css" type="text/css"/>
	<style> body {padding: 0; margin: 0;} </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

<body>
  <img id = "logo" src="/OppBlockLogoFinal.png">

	<div id= "centralBox">
	  <p id= "titleText">Student Portal</p>
      <p id= "signedInAs">Signed in as {{Student}}</p>
      <button id= "logout" href="/logout">Logout</button>
	  <p id= "choice"> Your Choice: {{Choice}} <br> {{Description}} <br></p>
	  {{^oppTime}} <!--Excludes the choice table if either it is before or past the choice cutoff time, or if the student is in an excluded sports group-->

	  <form method="post">
	  	<input type="hidden" name="uid_day" value="{{uid_day}}">
	  	  <table class="choices">
			<tr>
			  <th>Name</th>
			  <th>Description</th>
			  <th>Teacher</th>
			  <th>Location</th>
			  <th>Maximum Size</th>
		  	</tr>	
		  	{{#data}}
		  	<tr class={{disabled}} id="{{uid_offering}}"> <!-- disabled greys out the tr element and disables the radio button -->
		  	  <td> <input type="radio" name="choice" value="{{uid_offering}}" {{disabled}}> {{name}} </td>  
		  	  <td>{{description}}</td> 
		  	  <td>{{teacher_lastname}}</td>
		  	  <td>{{location}}</td>
		  	  <td>{{max_size}}</td> 
		  	</tr>
		  	{{/data}}
		  </table>
		<input type="submit" value="Save New Choice">
	  </form>

	  {{/oppTime}}
	  {{^notExcluded}} <!-- Excludes the override button unless the student is excluded -->
	  <form method="post" action="/studentOverride">
		<input type="hidden" name="uid_day" value="{{uid_day}}">
		<input type="submit" style="" value="Override">
	  </form>
	  {{/notExcluded}}
	</div>
	<script>
	/*function sortTable(n) {
		console.log("IM DOING SOMETHING");
	  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
	  table = $("myTable2");
	  switching = true;
	  // Set the sorting direction to ascending:
	  dir = "asc"; 
	  // Make a loop that will continue until no switching has been done: 
	  while (switching) {
	    // Start by saying: no switching is done:
	    switching = false;
	    // Loop through all table rows except the first, which contains table headers): 
 		$('tr').each(function(index, value) {
 			// Start by saying there should be no switching:
 			shouldSwitch = false;
	        // Get the two elements you want to compare, one from current row and one from the next:
			x = $('td:eq(2)', this);
			y = $('td:eq(2)', $('tr:eq('+ (index + 1) +')'));
			// Check if the two rows should switch place, based on the direction, asc or desc: 
			if (dir == "asc") {
				if ($(x).text().toLowerCase() > $(y).text().toLowerCase()) {
				  // If so, mark as a switch and break the loop:
				  shouldSwitch= true;
				}
			} else if (dir == "desc") {
				if ($(x).text().toLowerCase() < $(y).text().toLowerCase()) {
				  // If so, mark as a switch and break the loop:
				  shouldSwitch= true;
				}
			} 
			if (shouldSwitch) {
		      // If a switch has been marked, make the switch
		      and mark that a switch has been done:
		      $('tbody').insertBefore($('tr:eq('+ (index + 1) +')'), $(this));
		      switching = true;
		      // Each time a switch is done, increase this count by 1:
		      switchcount ++; 
		    } else {
		      // If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again. 
		      if (switchcount == 0 && dir == "asc") {
		        dir = "desc";
		        switching = true;
		      }
		    }
		});
	  }
	}*/
	$("tr[class='able']").click(function(){
		//	Selects the radio button for an offerings when any part of the row is clicked
		$("input[value=" + $(this).attr('id') + "]").prop("checked", true);
	});
	</script>
  </body>
</html>