body{
	background-image: url("/oppbackground.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#logo{
	width:8%;
	height:8%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
}

#centralBox{
	background-color: #793141;
	border-style:solid;
	border:5px;
	border-color:black;
	width:1200px;
	height:1000px;
	margin:auto;
	text-align:center;
	padding-left:20px;
	margin-top:30px;
}

#titleText{
	margin:auto;
	padding-top:100px;
	text-align:left;
	color:white;
	font-family: Courier;
	font-size: 40px;
}

#signedInAs{
	margin: auto;
	padding-top: 10px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
}

#offerings{
	margin:auto;
	text-align:left;
	color:white;
	font-family:Lucida Grande;
}


table{
	border-collapse: collapse;
	margin-top: 50px;
}

th, td{
	font-family: Lucida Grande;
	font-weight: normal;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even){background-color: grey}

tr:hover {background-color: white;}

th{
	background-color: black;
	color: white;
}

a {color: black;}
a:hover {color:blue;}

#csvsubmit{
	width:150.5px;
	font-size:15px;
	display:block;
	text-align:center;
	cursor:pointer;
	border:none;
	height:34px;
	background-color: white;
	border-color: white;
	color: grey;
	margin:auto;
}

#csvsubmit:hover{
	background-color: black;
	color: white;
}

#csvbox{
	margin: 20px;
}

/*input:hover{
	background-color: black;
	color: white;
}*/

#mstitle{
	display:block;
	margin-left:0px;
	margin-bottom:5px;
	text-align:left;
	color:white;
}

#offeringdelete{
	display:block;
	margin-left:0px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
	color:white;
}


button, a.button{
	width:150.5px;
	font-size:15px;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	border:none;
	height:34px;
	text-decoration:none;
	background-color: white;
	border-color: white;
	color: grey;
	margin-top:10px;
	margin-right:5px;
	float:left;
}

button, a.button:hover{
	background-color: black;
	color: white;
}

#adminbutton{
	width:150.5px;
	font-size:15px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	padding: 0px;
	cursor:pointer;
	border:none;
	height:40px;
	font-family: Lucida Grande;
	background-color: white;
	border-color: white;
	color: grey;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}

#adminbutton:hover{
	background-color: black;
	color: white;
}