body{
	background-image: url("/oppbackground.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#logo{
	width:8%;
	height:8%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
}

#centralBox{
	background-color: #793141;
	border-style:solid;
	border:5px;
	border-color:black;
	width:1200px;
	margin:auto;
	text-align:left;
	padding:40px;
	color:white;
	margin-top:30px;
}

#titleText{
	margin:auto;
	padding-top:100px;
	text-align:left;
	color:white;
	font-family: Courier;
	font-size: 40px;
}

#signedInAs{
	margin: auto;
	padding-top: 10px;
	text-align: left;
	color: white;
	font-family: Lucida Grande;
}

#offerings{
	margin:auto;
	text-align:left;
	color:white;
	font-family:Lucida Grande;
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 30px;
    padding-bottom: 40px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 20px;
    opacity:0.9;
    width: 57%;
    overflow: hidden;
}

table{
	border-collapse: collapse;
	margin-top: 50px;
}

th, td{
	font-family: Lucida Grande;
	font-weight: normal;
	text-align: center;
	padding: 8px;
}


tr:hover {background-color: grey;}

th{
	background-color: black;
	color: white;
}

a {color: white;}
a:hover {color:grey;}

textarea{
	width:150.5px;
	font-size:15px;
	display: block;
	text-align:left;
	cursor:pointer;
	border:none;
	height:40px;
	width:30%;
	background-color: white;
	border-color: white;
	color: black;
	margin-top:10px;
	margin-right:5px;
	margin:20px;
}

input{
	width:150.5px;
	font-size:15px;
	display: block;
	text-align:left;
	cursor:pointer;
	border:none;
	height:34px;
	background-color: white;
	border-color: white;
	color: black;
	margin-top:10px;
	margin-right:5px;
	margin:20px;
	
}

input:hover{
	background-color: lightgray;
	color: black;
}

button{
	width:150.5px;
	font-size:15px;
	display:inline-block;
	text-align:left;
	cursor:pointer;
	border:none;
	height:34px;
	background-color: white;
	border-color: white;
	color: grey;
	margin-top:10px;
	margin-right:5px;
	float:left;
}

button:hover{
	background-color: black;
	color: white;
}