@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*UNIVERSAL STYLE*/

a{color: white;}

body{
	background-image: url("/oppbackground.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

#logo{
	width:8%;
	height:8%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
}

#centralBox{
	background-color: #793141;
	border-style:solid;
	border:5px;
	border-color:black;
	width:1200px;
	margin:auto;
	text-align:left;
	padding:40px;
	color:white;
	margin-top:30px;
}

#titleText{
	margin:auto;
	padding-top:100px;
	text-align:left;
	color:white;
	font-family: Courier;
	font-size: 40px;
}

#signedInAs{
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	color: white;
	font-family: 'Open Sans';
	font-size: 20px;
}

#offerings{
	margin:auto;
	text-align:left;
	color:white;
	font-family: 'Open Sans';
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 30px;
    padding-bottom: 40px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 20px;
    opacity:0.9;
    width: 57%;
    display: none;
    overflow: hidden;
}

table{
	border-collapse: collapse;
	margin-top: 50px;
}

th, td{
	font-family: 'Open Sans';
	color: white;
	font-weight: normal;
	text-align: center;
	padding: 8px;
}

tr:hover{
	background-color: grey;
}

th{
	background-color: black;
	color: white;
}

/*CSV STYLE*/

textarea{
	width:150.5px;
	font-size:15px;
	display: block;
	text-align:left;
	cursor:pointer;
	border:none;
	height:40px;
	width:30%;
	background-color: white;
	border-color: white;
	color: grey;
	margin:auto;
}

#csvsubmit:hover{
	background-color: black;
	color: white;
}

#csvbox{
	margin: 20px;
}

/*TEACHER STYLE*/

#mstitle{
	display:block;
	margin-left:0px;
	margin-bottom:5px;
	text-align:left;
	color:white;
}

#offeringdelete{
	display:block;
	margin-left:0px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:left;
	color:white;
}

/*STUDENT.HTML STYLE*/

#logout{
	width:150.5px;
	font-size:15px;
	display: block;
	text-align:left;
	cursor:pointer;
	border:none;
	height:34px;
	background-color: white;
	border-color: white;
	color: black;
	margin-top:10px;
	margin-right:5px;
	margin:20px;
	
}

#logout:hover{
	background-color: black;
	color: white;
}

#choice{
	margin: auto;
	padding-top: 100px;
	text-align: left;
	color: white;
	font-family: 'Open Sans';
}

/*ADMIN.HTML STYLE*/

#adminbutton{
	width:200px;
	height: 40px;
	font-size:15px;
	cursor:pointer;
	border:none;
	font-family: 'Open Sans';
	text-align: center;
	background-color: white;
	border-color: white;
	color: grey;
    text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
    float: left;
    justify-content: center;
}

#adminbutton:hover{
	background-color: black;
	color: white;
}