<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oppblock System: Teacher Portal</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="http://www.bootstraptoggle.com/css/bootstrap-toggle.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
  </head>

  <body>
    <img id = "logo" src="/OppBlockLogoFinal.png">

    <div id= "centralBox">
      <p id= "titleText">Teacher Portal</p>
      <p id= "signedInAs">Welcome, {{teacherName}}!</p>

{{#currentOffering}}

  <div id="currentOffering">
    <button class="accordion">Current Offering: {{name}}</button>
    <div class="panel">

    <br>
      {{#containsStudents}}
      <h3 style = "font-family: Lucida Grande">Students</h3>
        <table style="width:100%; table-layout:fixed" class="panel">
          <tr class="panel">
            <th class="panel">Name</th>
            <th class="panel">Status</th>
            <th class="panel"></th>
          </tr>
            <input type="hidden" name="uid_day" value="{{offeringDay}}">
            {{#students}}
              <tr class="panel">
                <td class="panel">{{firstname}} {{lastname}}</td> 
                <td class="panel">          
              <input class='arrived' student ={{uid_student}} offering={{uid_offering}} day={{offeringDay}} type="checkbox" {{#arrived}}checked{{/arrived}}  data-toggle="toggle" data-on="Arrived" data-off="Not Arrived" data-onstyle="success" data-offstyle="danger">
                </td>
                  
                  <td><a class="button" href="/removeStudent/{{uid_day}}/{{uid_offering}}/{{uid_student}}">Remove</a></td>  
  
              </tr>
            {{/students}}
        </table>

      <br>
    </form>
    {{/containsStudents}}
    {{^containsStudents}}
      No Students.
    {{/containsStudents}}
  
    <form action="/addStudent/{{offeringId}}/{{offeringDay}}" method="post">
      Add Student: 
  
     
        <input type="text"   name="studentName"> 
        
  
         <input type="submit" value="Add">
    
    </form>
</div>
</div>

{{/currentOffering}}



<br>
<br>
<br>
<br>
<br>
  <a class="button" href = "/logout">Logout</a>
	
	<h2>Offerings</h2> 
  <a class="button" href="/add">Add</a>

<table style="width:100%" align="center">

  <tr>
    <th>Edit</th>
    <th>Name</th>
    <th>Location</th>
    <th>Description</th>
    <th>Maximum Size</th>
  </tr>

  {{#data}}
  <tr>
      <td><a class="button" href="/editOffering/{{uid_offering}}/">Edit</a></td> 
      <td>{{name}}</td> 
      <td>{{location}}</td>
      <td>{{description}}</td> 
      <td>{{max_size}}</td> 
  </tr>
  {{/data}}

  </table>
  {{^data}} <br><center>No Offerings</center>{{/data}}
  </div>

</div>

	
<script>
$(document).ready(function() {
    var socket = io();




$(".arrived").change(function(){

  var student = $(this).attr('student');
  var offering = $(this).attr('offering');
  var day = $(this).attr('day');
  var arrived = $(this).prop('checked');

  socket.emit('updateAttendance', student, offering, day, arrived);

});

$(".accordion").click(function() {
  $(".panel").slideToggle();
});

});
</script>
</body>
</html>