<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oppblock System: Teacher Portal</title>
      <link rel="stylesheet" href="/style.css" type="text/css"/>
    <style> body {padding: 0; margin: 0;} </style>
  </head>
<body>
  <img id = "logo" src="/OppBlockLogoFinal.png">

  <div id= "centralBox">

  <p id= "titleText">Teacher Portal</p>
  <p id= "signedInAs">Signed in as {{teacherName}}</p>
  <a href = "/logout">Logout</a>
	
	<h2>Offerings</h2> 
  <a class="button" href="/add">Add</a>

<table style="width:100%" align="center">

  <tr>
    <th>Edit</th>
    <th>Name</th>
    <th>Description</th>
    <th>Maximum Size</th>
  </tr>

  {{#data}}
  <tr>
      <td><a class="button" href="/editOffering/{{uid_offering}}/">Edit</a></td> 
      <td>{{offeringName}}</td> 
      <td>{{description}}</td> 
      <td>{{max_size}}</td> 
  </tr>

  {{/data}}
  </table>
  </div>

	
</body>
</html>