<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Oppblock System: Teacher Portal</title>
      <link rel="stylesheet" href="/style.css" type="text/css"/>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
  </head>
<body>
  <img id = "logo" src="/OppBlockLogoFinal.png">

  <div id= "centralBox">

  <p id= "titleText">Teacher Portal</p>
  <p id= "signedInAs">Signed in as {{teacherName}}</p>

{{#currentOffering}}
<br>
  <button class="accordion"> 
    <br>
    Current Offering: {{name}} <a class="button" href="/attendance/{{uid_offering}}/{{uid_day}}" style = "float:right; ">Take Attendance</a></button>
  {{/currentOffering}}


<div class="panel">
<br>


<h3 style = "font-family: Lucida Grande">Students</h3>
<table style="width:100%" align="center" class="panel">
  <tr class="panel">
    <th class="panel">Name</th>
    <th class="panel">Status</th>
  </tr>
<form action="/updateAttendance/{{offeringIdUpdate}}" method="post">
 {{#students}}
  <tr class="panel">
      <td class="panel">{{firstname}} {{lastname}}</td> 
      <td class="panel">
        <input type = "hidden" name = "allStudents" value = "{{uid_student}}" >

        <input type="checkbox" id = "{{uid_student}}" style="display:none;" name="students" value = "{{uid_student}}" {{#arrived}}checked="checked"{{/arrived}}>
        <label class="check" for="{{uid_student}}">{{#arrived}}Arrived{{/arrived}}{{^arrived}}Not Arrived{{/arrived}}</label>
        
      </td> 

  </tr>
  {{/students}}




</table>
<input type="submit" value="Submit">
</form>

  <form action="/addStudent/{{offeringIdAdd}}/{{offeringDay}}" method="post">
 <br>
      Add Student: <br>
   
      <input type="text" placeholder="Johnny Lindbergh"  name="studentName"> <br>
      <input type="submit" value="Submit">
  
  </form>

</div>
<br>

  <a href = "/logout">Logout</a>
	
	<h2>Offerings</h2> 
  <a class="button" href="/add">Add</a>

<table style="width:100%" align="center">

  <tr>
    <th>Edit</th>
    <th>Name</th>
    <th>Description</th>
    <th>Maximum Size</th>
  </tr>

  {{#data}}
  <tr>
      <td><a class="button" href="/editOffering/{{uid_offering}}/">Edit</a></td> 
      <td>{{offeringName}}</td> 
      <td>{{description}}</td> 
      <td>{{max_size}}</td> 
  </tr>
  {{/data}}
  </table>
</div>
<form type="hidden" id="offeringForm">
    {{#offerings}}
        <input type="hidden" id="offering" name={{name}} date={{day}}>
    {{/offerings}}
</form>
<!-- Full Calendar Div -->
<div id="calendar"> </div>
	
<script>
var acc = document.getElementsByClassName("accordion");
var i;

$(document).ready(function() {
    //  Initializes fullCalendar
    $('#calendar').fullCalendar({
        viewRender: function(view, element) {
            //  Serializes Hidden Offering Inputs
            var offerings = $('#offeringForm').serializeArray();
            //  Loops Through it
            for(var i=0; i<offerings.length; i++) {
                var event={id:i, title: offerings[i].name, start:offerings[i].date};
                $('#calendar').fullCalendar( 'renderEvent', event, true);
            }
        }
        //  Show Weekends?
    });
});

$(".check").on("click", function(){
  $(this).html() == "Arrived" ? $(this).html('Not Arrived') : $(this).html('Arrived');
});


for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
</body>
</html>